

/* ------------------- noah*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
 .l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed)
  
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px){}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px){}

a {
  color: black;
}